h1{
    color: blue;   
   }
   h2{
       color: red;
   }
   body{
       background-image: url(https://etimg.etb2bimg.com/photo/96379841.cms);
       background-repeat: no-repeat;
       background-size: cover;
       backdrop-filter: blur(5px);
   }
   .container {
       max-width: 400px;
       margin: 0 auto;
       padding: 20px;
       border: 1px solid #45a049;
       border-radius: 5px;
       margin-top: 50px;
   }
   
   input[type="text"],
   input[type="password"],
   input[type="number"],
   input[type="submit"] {
       width: 100%;
       padding: 10px;
       margin: 5px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }
   
   input[type="submit"] {
       background-color: #4CAF50;
       color: white;
       border: none;
       cursor: pointer;
   }
   
   input[type="submit"]:hover {
       background-color: #45a049;
       opacity: 0.5;
       transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
   }
   
   label {
       margin-top: 10px;
       display: block;
   }